* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes quote-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: rgb(61, 164, 227);
    font-family: 'Maven Pro', sans-serif;
    --title-load-time: 700ms;
    --quote-load-time: 3000ms;
    --author-load-time: 5000ms;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 900px;
    height: 100vh;
    overflow: hidden;
}

.header-container {
    margin: auto;
    width: 800px;
    height: 30%;
    
}

.header-container p {
    text-align: center;
    padding: 70px;
    font-weight: 800;
    font-size: 5rem;
    color: white;
    animation: quote-load var(--title-load-time) ease-in;
}

.quote-container {
    background: linear-gradient(
        to right bottom, 
        rgba(42, 151, 218, 0.7), 
        rgba(60, 100, 223, 0.3));
    margin: auto;
    width: 800px;
    height: 60%;
    border-radius: 50px;
    color: white;
}

.quote-container .quote {
    height: 70%;
}

.quote-content p {
    padding: 50px;
    font-size: 2.2rem;
    font-weight: 500;
    animation: quote-load var(--quote-load-time) ease-in;
}

.quote-container .author {
    height: 30%;
}

.author-content p {
    text-align: end;
    padding: 50px;
    font-weight: 400;
    font-size: 2rem;
    animation: quote-load var(--author-load-time) ease-in;
}

.author-content p::before {
    content: "-";
    font-size: 2.5rem;

}




.cloud {
    position: absolute;
}

.left-top {
    top: 150px;
    left: 150px;
}

.left-bottom {
    bottom: 75px;
    left: 250px;
}

.right-top {
    top: 300px;
    right: 200px;
}

.right-bottom {
    bottom: 50px;
    right: 150px;
}

